<h2 id="title">Welcome to Ember.js</h2>
<div id="debug"></div>
<form {{action "submit" on="submit"}}>
  {{ember-webcam-input name="pics" picUrls=urls action="ecto"}}
  <input type="submit" value="submit">
</form>

{{#each urls as |url|}}
  <img src={{url}}>
{{/each}}

{{outlet}}
